#key-list{
    flex: 0.4;
}

.key-list-name-input{
    display: none;
}

#search-bar{
    border-top-width: 1px;
    border-bottom-width: 0px;
}

#entry-editor{
    border-width: 0px;
}

#entry-editor-title, #entry-editor-menu{
    display: none;
}

#entry-editor-menu{
    border-bottom-width: 0px;
    border-top-width: 1px;
}

.menu-button{
    border-color: #1a1a1a;
    border-right-width: 1px;
}

#entry-editor-menu-presets-button ListItemImage{
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#entry-editor-component-context-menu{
    width: 200px;
}

.category-container{
    margin-left: 30px;
    border-color: #1a1a1a;
    border-left-width: 1px;
}

#model-viewer{
    border-left-width: 1px;
    border-right-width: 0px;
    display: none;
    flex: 0.8;
}