TableWrapper{
    background-color: #262626
}

#key-list{
    flex: 0.35;
}

.key-list-name-input{
    display: none;
}

#new-entry-item{
    border-top-width: 1px;
    border-bottom-width: 0px;
}

#entry-editor{
    border-width: 0px;
    display: none;
}

#entry-editor-menu{
    border-bottom-width: 0px;
    border-top-width: 1px;
}

#entry-editor-tag-row{
    border-bottom-width: 0px;
    border-top-width: 1px;
}

.entry-editor-tag{
    margin: 2px;
    padding: 7px;
    -unity-text-align: middle-center;
    border-width: 1px;
    border-color: #1a1a1a;
    border-radius: 5px;
    cursor: Link;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#entry-editor-tag-context-menu{
    width: 220px;
}

.entry-editor-tag.selected{
    background-color: #444;
}

.menu-button{
    border-color: #1a1a1a;
    border-right-width: 1px;
}

#entry-editor-component-context-menu{
    width: 200px;
}

.category-container{
    margin-left: 30px;
    border-color: #1a1a1a;
    border-left-width: 1px;
}

#model-viewer{
    border-left-width: 1px;
    border-right-width: 0px;
    display: none;
    flex: 0.45;
}