.menu-bar-icon{
    margin-left: 2px;
}

#add-world-button{
    margin-top: -2px;
}

#world-table{
    border-right-width: 0px;
}

#world-editor{
    border-right-width: 0px;
    display:none;
}

#world-table-scroller, #world-editor-entity-scroller, #world-editor-system-scroller{
    border-color: #1a1a1a;
    border-bottom-width: 1px;
}
